@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KyivType";
  src: url("/fonts/KyivTypeSans/KyivTypeSans-Regular-.otf");
  font-weight: 350;
  line-height: 135.2%;
}

.KyivType {
  font-family: "KyivType";
}
